<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <title>Binding a List in Thymeleaf</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    	<div class="container">
    		<p>
    			<h3>Simple bookstore</h3>
    		</p>
    	</div>
        <div class="container">
			<a class="btn btn-info" href="#" th:href="@{/books/all}"> Books List </a>
        </div>
        <p/>
        <div class="container">
            <a class="btn btn-info" href="#" th:href="@{/books/congratulate?user=testme!}"> Congratulate 1</a>
        </div>
        <p/>
    </body>
</html>
